* {
    margin: 0;
    padding: 0;
}

html {
	background-color: #4C5454;
	width: 100%;
	color: #FF715B;
    overflow-x: hidden;
}

/* Header */
header {
	text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
	border-bottom: 3px solid #FF715B;
    font-family: 'Righteous', cursive;
    font-size: 1.3rem;
    background-color: #747474;
    height: 10vh;
}

/* Select a Role */
.role-header {
	margin-top: 25px;
	text-align: center;
    font-size: 1.7rem;
}

/* Content */
.positions {
	display: flex;
	flex-direction: column;
    font-size: 20px;
	width: 100%;
	align-items: center;
	margin-top: 5%;
    font-family: 'Hind Guntur', sans-serif;
}

.topImage,
.jungleImage,
.midImage,
.adcImage,
.suppImage {
    display: none;
    position: relative;
    width: 200px;
    height: 125px;
    border-radius: 5px;
}

.topIcon,
.jungleIcon,
.midIcon,
.adcIcon,
.suppIcon {
    height: 196px;
    width: 196px;
}

.fill {
	position: absolute;
	top: 40px;
	right: 25px;
}

.top,
.jung,
.mid,
.ad-carry,
.supp {
	height: 26vh;
	width: 50%;	
	background-color: #747474;
	border: 3px solid #FF715B;
	margin-bottom: 5%;
	border-radius: 10px;
}

button {
	background-color: #4C5454;
    font-size: 20px;
    font-family: 'Hind Guntur', sans-serif;
	color: #FF715B;
	border: 1px solid #FF715B;
	border-radius: 15px;
	width: 128px;
	height: 36px;
	margin-top: 5%;
	transition: .4s ease-in-out;
}

/* Inverts colors when hovered */
button:hover {
	background-color: #FF715B;
	color: #4C5454;
	border: 1px solid #4C5454;

}

/* Takes outline off button when focused */
button:focus {
	outline: none;
}

/* Button Animation */

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 25px;
    overflow: hidden;
}

/* Medium screen size */
@media screen and (min-width: 750px) {
    header {
        font-size: 2rem;
        height: 17vh;
    }
    
    .role-header {
        font-size: 2rem;
    }
    
    .fill {
	    top: 90px;
	    right: 20px;
	}

	.positions {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.top,
	.jung,
	.mid,
	.ad-carry,
	.supp {
		width: 30%;
	}

	.jung{
		margin-left: 25px;
		margin-right: 25px;
	}

	.ad-carry {
		margin-right: 12.5px;
	}

	.supp {
		margin-left: 12.5px;
	}
    
}

/* Large screen size */
@media screen and (min-width: 1385px) {
    header {
        font-size: 2.5rem;
    }
    
	.top,
	.jung,
	.mid,
	.ad-carry,
	.supp {
		width: 15%;
	}

	.mid {
		margin-right: 12.5px;
	}
	
	.ad-carry {
		margin-left: 12.5px;
	}
    
    footer {
        position: fixed;
    }
    
    .fill {
        top: 80px;
    }


}
