html {
	background-color: #4C5454;
	width: 100%;
	color: #FF715B;
}

/* Header */
header {
	text-align: center;
	border-bottom: 1px solid #FF715B;
}

/* Select a Role */
.role-header {
	margin-top: 5%;
	text-align: center;
}

/* Content */
.positions {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.top,
.jung,
.mid,
.ad-carry,
.supp {
	height: 30vh;
	width: 50%;	
	background-color: #747474;
	border: 1px solid #FF715B;
	margin-bottom: 5%;
	border-radius: 10px;
}

button {
	background-color: #4C5454;
	color: #FF715B;
	border: 1px solid #FF715B;
	border-radius: 15px;
	width: 128px;
	height: 36px;
	margin-top: 5%;
	transition: .5s ease;
}

/* Inverts colors when hovered */
button:hover {
	background-color: #FF715B;
	color: #4C5454;
	border: 1px solid #4C5454;
}

/* Takes outline off button when focused */
button:focus {
	outline: none;
}

/* Medium screen size */
@media screen and (min-width: 750px) {
	.positions {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.top,
	.jung,
	.mid,
	.ad-carry,
	.supp {
		width: 25%;
	}

	.jung{
		margin-left: 25px;
		margin-right: 25px;
	}

	.ad-carry {
		margin-right: 12.5px;
	}

	.supp {
		margin-left: 12.5px;
	}
}

/* Large screen size */
@media screen and (min-width: 1385px) {
	.top,
	.jung,
	.mid,
	.ad-carry,
	.supp {
		width: 15%;
	}

	.mid {
		margin-right: 12.5px;
	}
	
	.ad-carry {
		margin-left: 12.5px;
	}



}
